@model StoreFront.DATA.EF.Product

@{
    ViewBag.Title = "Create Product";
}

@Html.Partial("_BreadcrumbPartial")


@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-7">

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Product Name" } })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                 
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductDesc, new { htmlAttributes = new { @class = "form-control", @placeholder = "Description" } })
                        @Html.ValidationMessageFor(model => model.ProductDesc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                   
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Unit Price" } })
                        @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                   
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                            @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-3">
                            @Html.DropDownList("PriceID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PriceID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-3">
                            @Html.DropDownList("StatusID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
     
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @placeholder = "Image" } })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })*@
                        Upload Image: <input type="file" style="display:inline" name="logo" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn site-btn" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn site-btn" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
