@model IEnumerable<StoreFront.DATA.EF.Product>

@{
    ViewBag.Title = "Products";
}

@Html.Partial("_BreadcrumbPartial")

<div class="row">
    @*<div class="col-lg-1"></div>*@
    <div class="col-lg-8 offset-2">


        <p>
            @Html.ActionLink("Add Product", "Create", null, new { @class = "btn site-btn" })
        </p>
        <table class="table table-striped table-bordered" id="myTable">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Category.CategoryName)
                    </th>*@

                    @*<th>
            @Html.DisplayNameFor(model => model.Status.Description)
        </th>*@

                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <img src="~/Content/img/product/t_@item.Image" alt="Image of @item.ProductName" title="@item.ProductName" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>*@

                    @*<td>
            @Html.DisplayFor(modelItem => item.Status.Description)
        </td>*@

                    <td class="text-center">

                        @Html.ActionLink("Details", "Details", new { id = item.ProductID }, new { @class = "btn site-btn" })

                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "btn site-btn" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "btn site-btn" })
                        }

                    </td>
                </tr>

                }
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>

@section Scripts {

    <script>

        $(document).ready(function () {
            $('#myTable').DataTable();
        });

    </script>

}